.min-h-dvh.bg-white.flex.flex-col.justify-center.items-center.p-8
  .max-w-screen-sm.w-full.mx-auto
    %h1.text-3xl.font-bold.text-center.mb-12.text-gray-800 ランキング
    .space-y-6
      - @finished_game.time_ranking.each.with_index(1) do |data, index|
        .border-l-8.border-yellow-400.pl-4.py-2
          %p.text-2xl.font-bold.text-gray-800 #{index}位 #{Player.find(data[0]).name}さん
          %p.text-lg.text-gray-600 タイム: #{data[1]}秒
    .mt-12.text-center
      = link_to "Home画面へ", "/", class: "bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-6 rounded-full transition duration-300 ease-in-out transform"
