%div.numbers-wrapper{ data: { controller: 'game', 'game-game-id-value': @game.id, 'game-player-id-value': @player.id, 'player-id': @player.id, 'game-id': @game.id } }
  .numbers{ data: { 'game-target': 'board' } }
  %ul.js-ranking.mb-6.mt-6
